html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}
.root {
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rootInner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    padding: 0 1rem;
    flex-direction: column;
}
button {
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 4px;
    background: transparent;
    color: white;
    border: solid 2px white;
    margin: 0;
    cursor: pointer;
    transition: background 500ms;
    display: block;
}
button:hover {
    background: #222;
}
.item__row {
    display: flex;
    margin: 2rem 0;
    flex-direction: column;
}
.item__box {
    border: 2px solid white;
    width: 100%;
}
.item__left,
.item__right {
    display: flex;
    flex-wrap: wrap;
}
.item__check {
    display: none;
}
.item__label {
    padding: 1rem 0.7rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    transition: background 500ms;
}
.item__check:not(:checked) + .item__label:hover {
    background: #222;
}
.item__check:checked + .item__label:after {
    content: "▶";
    position: absolute;
    right: 1rem;
}
.item__right .item__check:checked + .item__label {
    background: #273c3c;
}
.item__left .item__check:checked + .item__label {
    background: #720f15;
}
